<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="org.cbh.listeners.Listeners"></listener>
    </listeners>
    <test name="CBH">
        <classes>
            <class name="org.cbh.tests.BasicTest">
            </class>
        </classes>
    </test>
</suite>